<!DOCTYPE html>

<head>
	<meta charset="utf-8">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/main.css">
	<title>Creating a Full-Stack Python Application with Flask, NPM, React.js and Webpack</title>
</head>

<body>
	<div id="content">"Hello World!"</div>

	<div class="wrapper fadeInDown">
		<div id="formContent">
		  <!-- Tabs Titles
	  
		  Icon
		  <div class="fadeIn first">
			<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
		  </div> -->
	  
		  <!-- Login Form -->
		  <form>
			<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
			<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
			<input type="submit" class="fadeIn fourth" value="Log In">
		  </form>
	  
		  <!-- Remind Passowrd -->
		  <div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password?</a>
		  </div>
	  
		</div>
	</div>

</body>

</html>
